nav{
    display: flex;
    justify-content: space-between;
    padding-bottom:10px;
    border-bottom: 2px solid black;
}
nav img{
    width: 10%;
    height: 5%;
    border-radius: 100%;
}
nav div{
    display: flex;
}

nav p{
    margin-left: 50px;
    font-weight: bold;
    color: black;
}

nav h3:hover,nav p:hover{
    text-decoration: underline;
}

